<script type="text/ng-template" id="Common.HelpText">
    <div ng-message="required"><span translate>HELP_COMMON_FIELD_REQUIRED</span></div>
    <div ng-message="email"><span translate>HELP_COMMON_ADDRESS_INVALID</span></div>
    <div ng-message="minlength"><span translate>HELP_COMMON_TOO_SHORT</span></div>
    <div ng-message="maxlength"><span translate>HELP_COMMON_TOO_LONG</span></div>
    <div ng-message="incorrect"><span translate>HELP_COMMON_INCORRECT</span></div>
    <div ng-message="unexpected"><span translate>HELP_COMMON_UNEXPECTED</span></div>
</script>