<div class="MessageListPopup popup-content" popup-content-close-on="statechange external blur">
    <div notify-badge="" notify-badge-value="message_list_popup.counter" ng-show="message_list_popup.counter > 0"></div>
    <div class="iterator">
        <i class="fa fa-inbox fa-2x popup-content-trigger iterator-trigger"></i>
        <div class="popup-content-container">
            <div message-list="::entity_id" message-list-count="message_list_popup.counter"></div>
        </div>
    </div>
</div>