<div class="MessageRequestPlate">
    <div class="Header">
        <span class="EntityPlateSmall pull-left" entity-plate="message.from"></span><span class="pull-left">has invited you to join</span>
    </div>
    <div class="clearfix"></div>
    <div class="For pull-left" entity-plate="message.for"></div>
    <div class="Response btn-group-vertical btn-group-sm pull-right">
        <button type="button" class="btn btn-primary" ng-click="respond('accept')">Accept</button>
        <button type="button" class="btn btn-default" ng-click="respond('decline')">Decline</button>
    </div>
    <div class="clearfix"></div>
</div>