.form-control-help {
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

@-webkit-keyframes spin {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

.is-loading .form-control-feedback {
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

